@import "tailwindcss";

body {
	min-height: 100dvh;
	background-color: #1a1a1a;
	background-image: url("/background.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
