@import "tailwindcss";

:root {
	--color-gold: #ffa800;
}

@theme {
	--color-gold: #ffa800;
}

body {
	font-family: "Rajdhani", sans-serif;
	min-height: 100dvh;
	background-color: #1a1a1a;
	z-index: -10;
}

/* Hide number input spin buttons */
input[type="number"].no-spin::-webkit-outer-spin-button,
input[type="number"].no-spin::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"].no-spin {
	-moz-appearance: textfield;
}

@layer base {
	h1 {
		@apply text-3xl font-bold text-blue-500 uppercase;
	}
	h2 {
		@apply text-2xl font-bold text-gold uppercase;
	}
	h3 {
		@apply text-xl font-bold text-gold uppercase;
	}
	input {
		@apply focus:border-gold focus:ring-2 focus:ring-gold/50 transition;
	}
	input[type="range"] {
		@apply mt-4 cursor-pointer bg-white/10 rounded-full h-2 appearance-none;
	}
	input[type="range"]:focus-visible {
		@apply outline-none border-gold ring-2 ring-gold;
	}
	input[type="range"]::-webkit-slider-thumb {
		@apply h-5 w-5 appearance-none rounded-full bg-black border-2 border-solid border-white/90 cursor-pointer -mt-1.5;
	}

	input[type="range"]::-moz-range-thumb {
		@apply h-5 w-5 appearance-none rounded-full bg-black border-2 border-solid cursor-pointer -mt-1.5;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		@apply h-2 rounded-full;
	}

	input[type="range"]::-moz-range-track {
		@apply h-2 rounded-full;
	}
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"],
	input[type="search"] {
		@apply bg-black/40 border border-white/20 text-white text-xl placeholder-white/40 px-3 py-2 focus:border-gold focus:outline-none;
	}
}
